{{#if routine}}
<h1 class="purple-text">{{routine.title}}</h1>
{{else}}
<h2>That routine couldn't be found!</h2>
{{/if}}
<h4 class="purple-text">Update information</h4>
<form action="/routines/{{ routine.title }}?_method=put" method="post">
  <input type="text" class="purple-text" name="routine[title]" value="{{ routine.title }}">
  <input type="text" class="purple-text" name="routine[products]" value="{{ routine.products }}">
  <input type="text" class="purple-text" name="routine[duration]" value="{{ routine.duration }}">
  <textarea class="purple-text materialize-textarea" name="routine[directions]" value="{{ routine.directions }}"></textarea>
  <input type="submit" value="update">
</form>

    {{!-- <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div> --}}
        <div class="input-field col s12">
          <input id="directions" value="{{ routine.directions }}">
          <label for="directions">Directions</label>
        </div>
      </div>
    </form>
    </div>
<br>
<h4 class="purple-text">Remove Routine</h4>
<form method="post" action="/routines/{{ routine.title }}?_method=delete" type="submit">
<button>Remove</button>
</form>