{{#if routine}}
<h2>{{routine.title}}</h2>
{{else}}
<h2>That routine couldn't be found!</h2>
{{/if}}
<h2>Update information</h2>
<form action="/routines/{{ routine.title }}?_method=put" method="post">
  <input type="text" name="routine[title]" value="{{ routine.title }}">
  <input type="text" name="routine[products]" value="{{ routine.products }}">
  <input type="text" name="routine[duration]" value="{{ routine.duration }}">
  <input type="text" name="routine[directions]" value="{{ routine.directions }}">
  <input type="submit" value="update">
</form>

<h2>Remove Routine</h2>
<form method="post" action="/routines/{{ routine.title }}?_method=delete" type="submit">
<button>Remove</button>
</form>